/* -------------------------------- Menus ---------------------------------- */
/* ------------------------------- Mobile ---------------------------------- */
#menyAvPaa {
  @apply appearance-none z-burger text-white hidden;

  &:before {
    content: "menu";
  }

  &:checked:before {
    content: "close";
    @apply font-bold;
  }

  &:checked {
    &~ #meny {
      @apply duration-700 transition-transform ease-in-out transform translate-x-0;
      @apply visible;
    }
  }
  &:focus {
    @apply outline-white;
  }
}


#meny {
  @apply text-white m-0 ;

  &> ul > li {
    @apply block m-0 text-lg leading-9 uppercase;

    &> ul {
      @apply normal-case;
    }
  }

  /* TODO sub-menu size should be at least the same as parent link length */
  & .sub-menu {
    @apply block p-0 z-10;
    @apply transition duration-500 ease-in-out;
    @apply right-0 left-auto;

    & ul {
      @apply relative;
    }
  }

  & ul li {
    @apply p-4;
    &> a {
      @apply inline-block p-4 -m-4;
    }

    & .sub-menu {
      @apply hidden;
      & li {
        @apply flex justify-between;
      }
    }
  }

  & a.logo-link {
    &:hover,
    &:focus {
      background-color: unset;
    }
  }

  /* if the menu has a submenu then add an icon '>' and make it clickable */
  & .open-sub-menu {
    @apply font-ma-icons;
    @apply hidden font-bold leading-none appearance-none;

    &:after {
      content: 'keyboard_arrow_down';
    }

    &:checked:after {
      content: 'keyboard_arrow_up';
    }

    &:checked ~ .sub-menu {
      display: block;
    }
  }

  & .menu-item-has-children {
    &> .open-sub-menu {
      @apply inline-block;
    }
  }
}

@media only screen and (min-width: 950px) {
  #meny {
    &> ul> li {
      @apply relative;

      &> .sub-menu {
        @apply transform translate-y-4;
      }
    }

    & .sub-menu {
      @apply bg-gray-900 text-white;
      @apply min-w-120; /* hack to make short sub links nicer looking */

      & ul {
        @apply block m-0 p-0;
        @apply absolute;
        right: 96%;
        top: 0;
      }
    }

    & ul li .sub-menu {
      @apply absolute;
      & li {
        &> a {
          @apply w-full;
        }
      }
    }

    /* have to be in the list element otherwise the open submenu checkbox is not highlighted
     * have to set the background colour of the link otherwise padding is not coloured
     * */
    & li:hover,
    & li:focus {
      @apply z-100;
      @apply text-white bg-blue-900;
      &> a {
        @apply bg-blue-900;
      }
    }

    /* Hover effects only on large screens, mobile uses checkbox toggles */
    & ul li:hover > .sub-menu,
    & ul li:focus > .sub-menu {
      @apply block;
    }
  }
}

.shortcut-menu {
  @apply flex flex-row text-base justify-between text-white text-center uppercase font-bold;

  &> li .shortcut-icon:before {
    /* 'location_city' */
    content: '\e7f1';
  }

  &> li:nth-child(2) .shortcut-icon:before {
    /* 'sports_baseball' */
    content: '\ea51';
  }

  &> li:nth-child(3) .shortcut-icon:before {
    /* 'recommend' */
    content: '\e9d2';
  }
  &> li:nth-child(4) .shortcut-icon:before {
    /* 'sports_hockey' */
    content: '\ea2b';

  }
}

@media only screen and (max-width: 949px) {
  #meny {
    @apply overflow-auto z-nav block;

    @apply duration-700 transition-transform ease-in-out transform translate-x-full;
    animation: hide-last;

    overscroll-behavior: contain;
    width: 90%;
    height: calc(70% - 60px);

    /* sub menus */
    & ul > li {
      @apply flex flex-row flex-wrap justify-between w-full pl-10;
      &> a {
        @apply w-full;
      }
      &> .sub-menu {
        @apply w-full;
      }
    }
  }
  #menyAvPaa {
    display: initial;
  }
}

/* animation that hides the frame on last keyframe instead of first */
@keyframes hide-last {
  99% {
    @apply visible;
  }
  100% {
    @apply invisible;
  }
}
