/*
Theme Name: Betting
Author: Joonatan Kuosa
Description: Theme for a Betting affiliate site
Version: 1.0
Tags:
Text Domain: betting
*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Wordpress adds a 32px admin bar on all pages
 * which doesn't play nice with the 100vh, for now this bar appears on top
 * of our real page
 */
html, body {
  @apply min-h-screen m-0 p-0 border-none;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    position: relative;
    scroll-behavior: smooth;
}

/* Flexbox configuration for header and footer */
body {
  @apply flex flex-col text-black bg-white tracking-wide;
  @apply text-md;

  & > div {
    @apply flex-grow;
  }
}

header {
  @apply flex-shrink-0;
}

footer {
  @apply flex-shrink-0 bg-primary text-primary mt-auto p-4;
}

main:focus {
  @apply outline-none;
}

/* Define the page sizes for different templates */
@responsive {
  .page-2xl {
    max-width: 1500px;
  }
  .page-xl {
    max-width: 1200px;
  }
  .page-lg {
    max-width: 1000px;
  }
  .page-md {
    max-width: 750px;
  }
  .page-sm {
    max-width: 600px;
  }
}

.hyphens-manual {
  hyphens: manual;
}

article .entry-content {
  & h1, & h2, & h3, & h4, & h5, & h6 {
    @apply font-display;
  }

  & h2 {
    @apply text-xl font-semibold py-4;
  }
  & h3 {
    @apply text-lg font-semibold py-4;
  }
  & h4 {
    @apply text-lg font-normal;
  }
  & h5 {
    @apply text-md font-medium;
  }
  & h6 {
    @apply text-sm font-normal uppercase;
    letter-spacing: 0.03125em;
  }
  & p {
    @apply font-body text-para mt-0 mb-12 leading-normal;
  }
}

.link-look {
  @apply text-primary underline;
  /* Force break links so they don't create overflow */
  @apply break-words;
}

article p a:not(.btn) {
  @apply link-look;

  &:hover, &:focus {
    @apply text-black;
  }
  &:visited {
    color: gray;
  }
}

.link-with-text:before {
  @apply mr-2;
}

.wp-caption-text {
  @apply text-sm leading-7;
}

article ul,
article ol {
  @apply text-md pb-6 pt-0 ml-12 list-disc;
}

/* Remove bottom padding from nested lists.
 * This works for ul ol mixes, because we have both "li > ul" and "li > ol" rules.
 * This works for all nested levels, because "ul li" doesn't specify direct child.
 */
article ul li > ul,
article ul li > ol,
article ol li > ol,
article ol li > ul {
  @apply pb-0;
}

img {
  @apply text-base;
}


.btn {
}

.btn-base {
  @apply font-display bg-primary text-white border-primary font-bold rounded-xl no-underline uppercase border-2 p-4 px-12;
}

.btn-sec-base {
  @apply font-display bg-transparent text-primary border-primary font-bold rounded-xl no-underline uppercase border-2 p-4 px-12;
}

.btn-pri {
  @apply btn-base text-xl;
}
.btn-md {
  @apply btn-base text-md;
}
.btn-sm {
  @apply btn-base text-sm px-8;
}
.btn-sec {
  @apply btn-sec-base text-xl;
}

.btn-sec-md {
  @apply btn-sec-base text-md;
}

.btn-sec-sm {
  @apply btn-sec-base text-sm px-8;
}

.btn,
.btn-pri,
.btn-base,
.btn-md,
.btn-sec,
.btn-sec-base,
.btn-sm,
.btn-sec-md,
.btn-sec-sm {
  &:hover, &:focus {
    @apply shadow-xl filter brightness-75;
  }
}

/* Really cool button style, but doesn't work as a CTA for us
 * wrong color and uses Ghost style as base
 *
 * These look really nice, but they overwrite the btn-cta defined in affi plugin
 *  which is specifically designed for the tight affi list
 */
/*
.btn-cool {
  @apply text-primary border-primary font-bold no-underline border-2 p-2 m-2 bg-white text-center;
  @apply transition-all duration-1000 ease-in-out;
  border-radius: 1rem;
  box-shadow: -2px -4px 2px 0 rgba(0, 0, 0, 0.5), 4px 5px 2px 0 rgba(0, 0, 0, 0.6);
  &:hover, &:focus {
    @apply bg-primary text-white;
  }
}

.btn-cta {
  @apply btn-cool;
  @apply bg-cta text-black;
  &:hover, &:focus {
    @apply bg-primary text-white;
  }
}
*/

/* Skip to content button for keyboard accessibility
 * Why is there three different ways to control the visibility: position, size and z?
 * */
a.skip-main {
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    @apply z-bottom overflow-hidden absolute;
}
a.skip-main:focus {
    left: auto;
    top: auto;
    @apply z-top h-auto w-80 bg-white p-4 m-4 text-lg text-center;
    outline: 3px solid black;
}

#definitely-not-a-sidebar .widget {
  @apply shadow-md;
}

.widget_recent_entries {
  & > h2 {
    @apply text-xl text-white uppercase font-semibold bg-secondary p-4;
  }
  & a {
    @apply link-look;

    &:hover, &:focus {
      @apply text-black;
    }
    &:visited {
      color: gray;
    }
  }
}

/* FIX affi plugin having different font-sizes */
div .text-md {
  font-size: 1.6rem;
}

/* affi plugin has weird padding to deal with old theme -> remove it */
.entry-content {
  @apply p-0;
}

/* ---------------- error 404 ------------------- */

/* ----------------------- admin hide on mobile -----------------------------*/
@media only screen and (max-width: 767px) {
  #wpadminbar {
    @apply hidden;
  }
}
